@model IEnumerable<Services.DTOs.PostPreviewDto>

@{
    int i = 0;
}

@foreach (var post in Model)
{
    if (i == 5)
    {
        <div class="box content">
            <script class="_iub_cs_activate" type="text/plain" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
            </script>
            <ins class="adsbygoogle"
                 style="display:block;height:320px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-6n+di+2f-4s+89"
                 data-ad-client="ca-pub-4128223586304442"
                 data-ad-slot="3742226663"></ins>
            <script class="_iub_cs_activate" type="text/plain">
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }

    i++;

    string previewImageUrl = "https://storage.googleapis.com/youit/images/" + post.Url + ".png";

    <div class="box content">
        <a href="/post/@post.Url"> <img alt="@post.Title" src="@previewImageUrl" style="max-width:100%" /> </a>
        <div class="post-button-wrapper">
            <div><i class="far fa-eye"></i> <span>@post.ViewsCount</span></div>
            <div><i class="far fa-comment"></i> <span>@post.CommentsCount</span></div>
            <div><i class="far fa-thumbs-up"></i> <span>@post.LikesCount</span></div>
            <div><i class="far fa-thumbs-down"></i> <span>@post.DislikesCount</span></div>
        </div>
        <a href="/post/@post.Url"><h3>@post.Title</h3></a>
    </div>
}



<!-- ko foreach: posts -->
<div class="box content">
    <a data-bind="attr: { href: postUrl }">
        <img style="max-width:100%" data-bind="attr: { src: imageUrl, alt: title }" />
    </a>
    <div class="post-button-wrapper">
        <div><i class="far fa-eye"></i> <span data-bind="text: viewsCount"></span></div>
        <div><i class="far fa-comment"></i> <span data-bind="text: commentsCount"></span></div>
        <div><i class="far fa-thumbs-up"></i> <span data-bind="text: likesCount"></span></div>
        <div><i class="far fa-thumbs-down"></i> <span data-bind="text: dislikesCount"></span></div>
    </div>
    <a data-bind="attr: { href: postUrl }">
        <h3 data-bind="text: title"></h3>
    </a>
</div>
<!-- /ko -->

<div class="box more-posts-button">
    <p class="loader" style="margin:auto" data-bind="visible: !morePostsButtonVisible() && !endPostsTextVisible()"></p>
    <span data-bind="click: addPosts, visible: morePostsButtonVisible" style="padding:10px; color:#FFF;">
        Загрузить больше постов
    </span>
    <h4 data-bind="visible: endPostsTextVisible">Извините, посты закончились</h4>
</div>

<script src="~/js/start-page.js" async></script>
